.pageButtonsContainer {
  width: 100%;
}

.page {
  margin-left: 10px;
  cursor: pointer;
  font-family: var(--main-font);
}

.selectedPage {
  margin-left: 10px;
  font-family: var(--main-font);
  font-weight: bold;
  cursor: default;
  color: var(--button-background--color);
}

.ButtonsPaginator {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bolder;
  color: var(--button-background--color);
}

.ButtonsPaginator:hover {
  cursor: pointer;
}
