.postsBlock {
  padding: 10px;
}
 .myPostsHeader {
   font-family: var(--main-font);
   color: #3c26c7;
 }

.postsTextarea {
  width: 70%;
  height: 150px;
  margin-bottom: 15px;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: solid 1px #ddd9ee;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.06);
}

.postButton {
  margin: 10px 0px 30px 0px;
  border: none;
  padding: 6px 10px;
  width: 90px;
  border-radius: 8px;
  background-color: #5181b8;
  color: white;
}

.postButton:hover {
  background-color: #6b97ca;
  cursor: pointer;
}

.posts {
  margin-top: 10px;
}
