.postsBlock {
  padding: 10px;
}

.postsTextarea {
    width: 70%;
    height: 150px;
}

.postButton {
  border: none;
  padding: 6px 10px;
  width: 90px;
  border-radius: 8px;
  background-color: #5181b8;
  color: white;
}

.postButton:hover {
  background-color: #6b97ca;
  cursor: pointer;
}

.posts {
  margin-top: 10px;
}

