.formControl.error input,
.formControl.error textarea {
  border: red solid 2px;
}

.formControl.error span {
  color: red;
  font: bolder;
}

.formSummaryError {
  border: red solid 2px;
  padding: 5px;
  color: red;
}

.loginButton {
  border: none;
  padding: 6px 10px;
  width: 70px;
  border-radius: 8px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
  font-weight: 600;
  background-color: #6b97ca;
  color: white;
}

.loginButton:hover {
  background-color: #8bb3e0;
  cursor: pointer;
}
