.formControl.error input,
.formControl.error textarea {
  border: var(--error-color) solid 2px;
}

.formControl.error span {
  color: var(--error-color);
  font: bolder;
}

.formSummaryError {
  margin: 10px 0px;
  width:177px;
  border: var(--error-color) solid 2px;
  background-color: var(--error-color);
  border-radius: 10px;
  padding: 5px;
  font-size: 13px;
  font-family: var(--main-font);
  text-align: center;
  color: var(--second-fonts-color);
}


