.header {
  display: grid;
  grid-area: h;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #3c26c7;
}

.header img {
  margin-left: 5px;
  width: 50px;
  border-radius: 30px;
}

.loginBlock {
  margin-right: 10px;
  display: grid;
  justify-items: end;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}

.loginBlock span {
  color:white;
}
