:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    "Geneva", "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
}

.header {
  display: grid;
  grid-area: h;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #3c26c7;
  position: sticky;
  top: 0px;
}

.header img {
  margin-left: 5px;
  width: 50px;
  border-radius: 30px;
}

.loginBlock {
  margin-right: 20px;
  display: grid;
  justify-items: end;
}

.loginBlock a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-family: var(--main-font);
  font-weight: 600;
}

.loginBlock span {
  color: white;
  font-size: 13px;
  font-family: var(--main-font);
  font-weight: 400;
}

.logoutButton {
  margin-left: 10px;
  border: none;
  padding: 6px 10px;
  width: 70px;
  border-radius: 8px;
  font-size: 13px;
  font-family: var(--main-font);
  font-weight: 600;
  background-color: #6b97ca;
  color: white;
}

.logoutButton:hover {
  background-color: #8bb3e0;
  cursor: pointer;
}
