.header {
  grid-area: h;
  background-color: aqua;
}

.header img {
  width: 30px;
}

.loginBlock {
  float: right;
  margin: 20px;
}

.loginBlock a {
  color: darkblue;
  text-decoration: none;
}

.loginBlock span {
  color:darkblue;
}
