.nav {
  position: sticky;
  top: 80px;
  padding: 10px;
  grid-area: n;
  align-self: start;
  justify-self: end;
}

.item {
  padding: 2px 4px 2px 8px;
  border-radius: 5px;
}

.item:hover {
  background-color: var(--first-elem-hover-background-color);
}

.item a {
  line-height: 30px;
  font-weight: 400;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--navbar-link-color);
}

.item a.activeLink {
  color: var(--thirst-activeLink-color);
  cursor: default;
}

.nav .item:first-child a.activeLink {
  cursor: pointer;
}

.NavbarIcon {
  margin-right: 5px;
  vertical-align: sub;
}
