.descriptionBlock {
  padding: 10px;
}

.descriptionBlock img {
  border-radius: 5px;
  max-width: 300px;
}

.descriptionBlock p {
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--second-headers-font-color);
}

.status {
  font-style: italic;
}

.contact {
  padding-left: 10px;
}
