.loginHeader {
  font-family: var(--main-font);
  color: var(--headers-font-color);
}

.loginForms {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid var(--headers-font-color);
  box-shadow: var(--loginForm-box-shadow-button);
  border-radius: 10px;
}

.loginButton {
  margin: 15px 0px;
  border: none;
  padding: 6px 10px;
  width: 70px;
  box-shadow: var(--loginForm-box-shadow-button);;
  border-radius: 10px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  font-family: var(--main-font);
  background-color: var(--button-background-color);
  color: var(--second-fonts-color);
}

.loginButton:hover {
  background-color: var(--button-background-hover-color);
  cursor: pointer;
}
