.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: minmax(120px, 1fr) 2fr;
  grid-gap: 20px;
  position: relative;
}

.app-wrapper-content {
  grid-area: c;
  border-radius: 10px;
  padding-left: 20px;
  background-color:  var( --main-content-background-color);
  justify-self: start;
  min-width: 650px;
}
