
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.dialogsItems a {
    text-decoration: none;
}

.dialog {

}

.messages {
    color: white;
}

.messages .messages {
    color: white;
}