
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: black;
}

.dialogsItems .active {
    color: red;
}

.dialogsItems a {
    text-decoration: none;
}

/* .dialog {

} */

.messages {
    color: #000000;
}

.messages .messages {
    color: blue;
}